* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.about-me {

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color:  rgb(68, 76, 96);
    /* height: 280vh; */
    /* position: absolute; */

}

.about_img {
    max-width: 200px;
    opacity: 0.8; 
    border-radius: 5px;

}

.about_me {

    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;   
    height: 76vh;
    overflow:auto;
    /* margin: 0 10px o 20px; */
}


aside h1 {
    color: rgb(234, 234, 95);
    font-size: 30px;
}

h3 {
    color: skyblue;
}

p{
  color:  white; 
}

h2 {
  color: skyblue;
}

ul li {
   font-style: bold;
    list-style-type: style none;
    color: white;
}

span {
    color: skyblue;
    font-style:inherit;
}
 
