
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: black;
} 

h1 {

    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}


.calculator {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    box-shadow: 5px 8px 8px rgba(98, 76, 143, 0.926), -5px -8px 8px rgba(98, 76, 143, 0.926);
    width: 46vh;
    height: 79vh;
    border: 4px solid purple;
    box-shadow: 15rem gray;
    border-radius: 6px;
    padding: 45px 10px 0 10px; 
}


.display_box {

    width: 100%; 
    height: 80px;
    line-height: 70px;
    padding: 0 1.5em;
    color: white;
    background-color: gray;
    border-radius: 2px;
    cursor: pointer;
    font-size: 23px;
    text-align: right;
}


.button {
    width: 100%;
    color: white;
    background-color:rgb(39, 58, 102);
    padding: 14px 12px;
    margin: 12px 1px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 14px;
        
}

.button:hover {

    background-color: yellow;

}

.button:active {

    transform: translateY(0.5em);
}

[value="C"] {
    color: orange;
}

.orangered {
    color: orangered;
}

[value="="] {
    color: black;
    background-color: purple;
}

/* table calculator design ends here  */

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 58, 102);
    box-shadow: 5px 8px 8px rgba(77, 86, 79, 0.926), -5px -8px 8px rgba(77, 86, 79, 0.926);
    width: 46vh;
    height: 79vh;
    border: 4px solid grey;
    border-radius: 6px;
    padding: 45px 10px 0 10px; 

}


#display {
    width: 100%;
    height: 80px;
    background-color: darkgray;
    padding: 16px 8px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex_btn {
    
    display: flex;
    flex-direction: column;
}

.btn {

    color: white;
    background-color: black;
    padding: 20px 20px;
    margin: 11px 6px 1px 6px;  
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
        
}

.btn:hover {

    background-color: white;
    color: black;
}

.btn:active {
    transform: translateX(0.4em);
}

.btn_color {

    color: greenyellow;
    background-color: black;
    padding: 20px 20px;
    margin: 11px 6px 1px 6px;  
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
}

.btn_color:hover {

    background-color: white;
    color: black;
}

.btn_color:active {
    transform: translateX(0.4em);
}


.btn_equal {

    color: white;
    background-color: gray;
    padding: 20px 20px;
    margin: 11px 6px 1px 6px;  
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
}

.btn_equal:hover {

    background-color: purple;
    color: black;
}

.btn_equal:active {
    transform: translateY(0.4em);
}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 70px;
    
}

footer a {

    text-decoration: none;
    color: white;
}

a:hover {

    color: blueviolet;
}



/* Media query for the Table Calculator

Mobile device screen */

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
    body {
        
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        height: 200vh; 
        background-color: black;
    }

    h1 {
        font-size: 70%;
    }

    .calculator {
        max-width: 30vh;
        max-height: 48vh;

    }

    .display_box {
        height: 40px;
        font-size: 11px;
    }

    .button {
        width: 100%;
        padding: 3px 6px;
        margin: 6px 1px;
        font-size: 6px;
                
    }


}
/* Ipads & Tablet Screen */

@media  only screen and (min-width: 481px) and (max-width: 768px) {
    
    body {
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200vh; 
        background-color: black;
    }
    h1 {
       font-size: 100%;
       margin-bottom: 0.5rem;
    }

    .calculator {
        max-width: 46vh;
        
    
    }

    .display_box {
        height: 100px;
        line-height: 35px;
    }

    .button {
        width: 100%;
        padding: 16px 12px;
        margin: 18px 4px;
        font-size: 14px;
            
    }
}

 /*Small laptop screens  */
@media  only screen and (min-width: 769px) and (max-width: 1024px) 
{
    body {
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200vh; 
    }


    .calculator {
        max-width: 46vh;
        max-height: 79vh;
        padding: 45px 10px 0 10px; 
    }

    .display_box {
        height: 130px;
        width: 41vh;
        line-height: 35px;
        margin: 10px;
    }

    .button {
        width: 100%;
        padding: 20px 20px;
        margin: 30px 1px;
        font-size: 14px;
            
    }

}

/* Media query for Flex Calculator starts here */


@media  only screen and (min-width: 769px) and (max-width: 1024px) 
{
    body {
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200vh; 
    }
    
    .container {

        width: 46vh;
        height: 79vh;
    }

    #display  {

        height: 80px;
    }

    .btn {
        padding: 3em 3em;
        margin: 9em 1.4em;
        width: 100%;
        height: 100px;
    } 
}
